*{
    margin: 0;
    padding: 0;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* shared style start  */

.display-flex{
    display: flex;
}

/* dark 02  */
.text-gray{
    color:#424242 ;
}


/* dark 03  */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}


.btn-primary{
    background-color:#FF900E ;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* shared style end */


/* header section style  start */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2rem;
}


.nav-item{
    list-style: none;
    margin-right: 25px;
}

.navlink{
    text-decoration: none;
}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

/* banner style start  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    max-width: 100%;
}
/* banner style end */


/* header section style end */

/* main section start  */
    .teams{
        /* max-width: 100%; */
        align-items: center;
        margin: 0;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .our-featuers{
        max-width: 530px;
        margin-left: 130px;
    }

    .features-text{
        color: #FF900E;
    }

    .features-title {
        font-size: 2rem;
    }

    /* some facts relatade style  */
    .fact-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .fact-card{
        border: 1px #FF900E solid ;
        width: 240px;
        height: 240px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .fact-number{
        font-size: 2.8rem;
        font-weight: 700;
        margin-top: 5px ;
        margin-bottom: 10px;
    }

    .fact-name{
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 10px;
    }
    /* some facts relatade style  */
/* main section end */

@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
        
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .our-featuers{
        /* max-width: 50%; */
        margin: 0;
        padding: 0;
    }
    .fact-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
}